[Unit]
Description=Autosignr Puppet Cert Signer
After=basic.target network.target

[Service]
ExecStart=/usr/sbin/autosignr
Restart=on-abort

[Install]
WantedBy=multi-user.target
